# -----------------------
# Python / Poetry
# -----------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
.env

# -----------------------
# OS / Editor
# -----------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# -----------------------
# Project local data
# -----------------------
data/
*.sqlite